@font-face {
  font-family: inter-bold;
  src: url("../Fonts/Inter-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: inter-semi-bold;
  src: url("../Fonts/Inter-SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: inter-medium;
  src: url("../Fonts/Inter-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: inter-regular;
  src: url("../Fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
}
