:root {
	/*? Colors */
	--primary-color: #0099ff;
	--secondary-color: #333333;
	--background-color: rgba(0, 153, 255, 0.04);
	--white-color: #ffffff;
	--gray-color: #999999;
	--black-color: #494949;
	/*! Fonts */
	--inter-bold: inter-bold;
	--inter-semi-bold: inter-bold;
	--inter-medium: inter-medium;
	--inter-regular: inter-regular;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: var(--inter-regular);
	min-height: 100vh;
	/* user-select: none; */
}

/* Heading */

h1 {
	font-family: var(--inter-bold);
	font-size: 5.6rem;
	line-height: 6.16rem;
	color: var(--secondary-color);
}

h2 {
	font-family: var(--inter-bold);
	font-size: 4.8rem;
	line-height: 5.28rem;
	color: var(--secondary-color);
}

h3 {
	font-family: var(--inter-bold);
	font-size: 4rem;
	line-height: 4.4rem;
	color: var(--secondary-color);
}

h4 {
	font-family: var(--inter-bold);
	font-size: 3.2rem;
	line-height: 2.52rem;
	color: var(--secondary-color);
}

h5 {
	font-family: var(--inter-bold);
	font-size: 2.4rem;
	line-height: 2.64rem;
	color: var(--secondary-color);
}

h6 {
	font-family: var(--inter-semi-bold);
	font-size: 2rem;
	line-height: 2.2rem;
	color: var(--secondary-color);
}

/*! Initial Rules */

.btn {
	width: 20rem;
	height: 5.3rem;
	border: none;
	outline: none;
	text-decoration: none;
	border-radius: 0.5rem;
	font-family: var(--inter-regular);
	font-size: 1.8rem;
	cursor: pointer;
}

/* Global Rules Here */

.navigation_container {
	border-bottom: 1px solid var(--gray-color);
}

/*? Navigation */

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10rem;
}

.navigation__nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation__nav-list {
	list-style-type: none;
	margin-right: 4rem;
	font-family: var(--inter-medium);
	font-size: 1.8rem;
	transition: transform 100ms ease-in-out;
}

.navigation__nav-list:nth-of-type(4) {
	margin-right: 0;
}

.navigation__nav-list:hover {
	transform: scale(1.05);
	color: var(--primary-color);
}

.navigation__nav-link {
	text-decoration: none;
	color: var(--black-color);
}

.navigation__nav-link:hover {
	color: var(--primary-color);
}

.navigation__contact-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: var(--primary-color);
	color: var(--white-color);
	transition: transform 200ms ease-in-out;
}

.navigation__contact-btn:hover {
	transform: scale(1.05);
}

/* * Hamburger Menu */

.hamburger-menu {
	width: 3.6rem;
	height: 2.8rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	cursor: pointer;
}

.hamburger-dash {
	border-radius: 5rem;
	display: block;
	width: 100%;
	height: 0.4rem;
	background-color: #000000;
}

.hamburger-dash:nth-of-type(2) {
	width: 75%;
}

/* ! Header Introduction */

.header-intro {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4.5rem;
}

.header-intro__texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.header-intro__header {
	max-width: 63rem;
	margin-bottom: 3.2rem;
}

.header-intro__paragraph {
	max-width: 58rem;
	font-family: var(--inter-regular);
	font-size: 1.8rem;
	color: var(--secondary-color);
	line-height: 2.8rem;
	margin-bottom: 4rem;
}

.header-intro__buttons-wrapper {
	display: flex;
}

.header-intro__buttons-wrapper-first-button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	background-color: var(--primary-color);
	border: 0.1rem solid var(--primary-color);
	margin-right: 1.6rem;
	box-shadow: inset 0 0 0 var(--white-color);
	transition: all 200ms ease-in-out;
}

.header-intro__buttons-wrapper-first-button:hover {
	box-shadow: inset 20rem 0 0 var(--white-color);
	color: var(--primary-color);
	transform: translateY(-0.5rem);
}

.header-intro__buttons-wrapper-second-button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-color);
	background-color: var(--white-color);
	border: 0.1rem solid var(--primary-color);
	box-shadow: inset 0 0 0 var(--white-color);
	transition: all 200ms ease-in-out;
}

.header-intro__buttons-wrapper-second-button:hover {
	box-shadow: inset 20rem 0 0 var(--primary-color);
	color: var(--white-color);
	transform: translateY(-0.5rem);
}

.header-intro__img-wrapper {
	width: 66rem;
}

.header-intro__img {
	width: 100%;
	height: 100%;
}

/* ? Services */

.service-providers {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	background-color: var(--background-color);
	margin-top: 10rem;
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.service-providers__texts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-bottom: 7rem;
}

.service-providers__texts-first-title {
	margin-bottom: 2rem;
}

.service-providers__texts-second-title {
	margin-bottom: 2rem;
}

.service-providers__texts-sub-text {
	color: var(--black-color);
	line-height: 1.5;
	max-width: 61rem;
}

.service-providers__cards-holder {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 3rem;
}

.service-providers__cards {
	width: 30rem;
	background-color: var(--white-color);
	box-shadow: 0px 1rem 2rem rgba(164, 217, 253, 0.15);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 5.5rem;
	padding-bottom: 5.5rem;
}

.service-providers__cards-title {
	color: var(--secondary-color);
	margin-top: 2rem;
}

.service-providers__cards-text {
	color: var(--black-color);
	line-height: 1.5;
	margin-top: 2.4rem;
}

/* ! About us */
.aboutus-section {
	display: flex;
	align-items: center;
	justify-content: center;
}

.aboutus-section__img-wrapper {
	width: 65rem;
}

.aboutus-section__img {
	width: 100%;
	height: 100%;
}

.aboutus-section__texts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.aboutus-section__first-title {
	margin-bottom: 1.6rem;
}

.aboutus-section__second-title {
	margin-bottom: 2.4rem;
}

.aboutus-section__first-text,
.aboutus-section__second-text {
	max-width: 63rem;
	line-height: 1.5;
	color: var(--black-color);
}

.aboutus-section__first-text {
	margin-bottom: 1.6rem;
}

.aboutus-section__button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	background-color: var(--primary-color);
	border: 0.1rem solid var(--primary-color);
	margin-top: 4rem;
}

/* ? Expert Team */
.expert-team {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	background-color: var(--background-color);
	margin-top: 7rem;
	padding-top: 5rem;
	padding-bottom: 10rem;
}

.expert-team__upper-texts {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 8rem;
}

.expert-team__upper-texts-first-title {
	margin-bottom: 1.6rem;
}

.expert-team__upper-texts-second-title {
	margin-bottom: 3.2rem;
}

.expert-team__upper-texts-sub-par {
	color: var(--black-color);
	max-width: 49rem;
	line-height: 1.5;
}

.expert-team__card-holder {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 8rem;
}

.expert-team__expert-card {
	width: 30rem;
	box-shadow: 0px 10px 20px rgba(164, 217, 253, 0.15);
	position: relative;
}

.expert-team__expert-card-img {
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
}

.expert-team__expert-card-personal-info {
	width: 25rem;
	background-color: var(--white-color);
	border-radius: 0.5rem;
	box-shadow: 0px 10px 20px rgba(164, 217, 253, 0.2);
	padding: 1.2rem 1.4rem 1.2rem 1.4rem;
	position: absolute;
	bottom: -5rem;
	left: 50%;
	right: 0;
	transform: translateX(-50%);
}

.expert-team__socialnetwork-icons {
	display: flex;
	gap: 1rem;
	margin-bottom: 1.2rem;
}

.expert-team__expert-card-personal-info-title {
	margin-bottom: 1rem;
}

.expert-team__expert-card-personal-info-subtext {
	font-size: 1.8rem;
	color: var(--black-color);
}

/* ! Portfolio */
.portfolio {
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.portfolio__upper-texts {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 8rem;
}

.portfolio__first-title {
	margin-bottom: 1.6rem;
}

.portfolio__second-title {
	margin-bottom: 2rem;
}

.portfolio__sub-text {
	max-width: 61rem;
	color: var(--black-color);
	font-size: 1.8rem;
	line-height: 1.5;
}

.portfolio-recent-works {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 3rem;
}

.recent-works__card-outer {
	width: 42rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 1rem 0 var(--gray-color);
	border-radius: 0.5rem;
	padding: 2rem;
}

.recent-works__card-insider-img-wrapper {
	width: 100%;
	margin-bottom: 2.4rem;
}

.recent-works__card-insider-img {
	width: 100%;
	height: 100%;
}

.recent-works__card-insider-title {
	margin-bottom: 2rem;
}

.recent-works__card-insider-paragraph {
	color: var(--black-color);
	font-size: 1.4rem;
	line-height: 1.5;
	margin-bottom: 3.2rem;
}

.recent-works__card-insider-link {
	display: inline-block;
	font-family: var(--inter-medium);
	font-size: 1.8rem;
	color: var(--secondary-color);
	text-decoration: none;
}

.recent-works__card-insider-link::after {
	content: "";
	display: block;
	width: 0;
	height: 0.3rem;
	background-color: var(--primary-color);
	border-radius: 5rem;
	margin-top: 1rem;
	transition: all 200ms ease-in-out;
}

.recent-works__card-insider-link:hover::after {
	width: 100%;
}

.recent-works__card-insider-link-arrow {
	margin-left: 0.5rem;
	vertical-align: middle;
}

.portfolio-downer {
	display: flex;
	justify-content: center;
	margin-top: 4rem;
}

.portfolio-downer__button {
	background-color: var(--primary-color);
	color: var(--white-color);
}

/* ? Customer Testimonials */
.customer-testimonials {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.customer-testimonials__upper-texts {
	display: flex;
	flex-direction: column;
	margin-bottom: 4.8rem;
}

.customer-testimonials__upper-texts-title {
	margin-bottom: 2.4rem;
}

.customer-testimonials__upper-texts-subpar {
	color: var(--black-color);
}

.customer-testimonials-tweets {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 2.4rem;
}

.customer-testimonials-tweetbox {
	width: 42rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white-color);
	border-radius: 0.5rem;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.1);
	padding: 2.5rem 4rem 2.5rem 4rem;
}

.customer-testimonials-inner-tweetbox-stars {
	margin-bottom: 2.4rem;
}

.customer-testimonials-inner-tweetbox-message {
	word-wrap: break-word;
	color: var(--black-color);
	line-height: 1.5;
	margin-bottom: 2.4rem;
}

.customer-testimonials-inner-tweetbox-user {
	display: flex;
	align-items: center;
}

.customer-testimonials-inner-tweetbox-user-img {
	width: 5.6rem;
}

.customer-testimonials-inner-tweetbox-user-info {
	margin-left: 2rem;
}

.customer-testimonials-inner-tweetbox-user-info-username {
	font-family: var(--inter-semi-bold);
	font-size: 1.6rem;
	color: var(--secondary-color);
}

.customer-testimonials-inner-tweetbox-user-info-role {
	font-family: var(--inter-medium);
	color: var(--black-color);
	margin-top: 0.7rem;
}

/* ! CTA */
.cta-box {
	height: 32rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--secondary-color);
	border-radius: 0.5rem;
	margin-top: 5rem;
	padding-left: 10rem;
	padding-right: 10rem;
}

.cta-box__left-contents {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.cta-box__left-contents-title {
	color: var(--white-color);
	margin-bottom: 3rem;
}

.cta-box__left-contents-text {
	color: var(--white-color);
	max-width: 47rem;
	font-size: 1.8rem;
	line-height: 1.5;
}

.cta-box__button {
	color: var(--white-color);
	background-color: var(--primary-color);
}

/* * Footer */

footer {
	background-color: var(--background-color);
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	row-gap: 5rem;
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.footer a {
	text-decoration: none;
	color: var(--black-color);
}

.footer-logo-wrapper {
	margin-bottom: 3.2rem;
}

.footer__intro-middle-text {
	color: var(--black-color);
	max-width: 31rem;
	font-size: 1.8rem;
	line-height: 1.5;
	margin-bottom: 3.2rem;
}

.footer__intro-socialmedia {
	display: flex;
	gap: 1.6rem;
}

.footer__intro-socialmedia-icon {
	width: 3.2rem;
	height: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white-color);
	border-radius: 0.5rem;
	box-shadow: 0.1rem 0.1rem 0.5rem 0.01rem var(--gray-color);
	cursor: pointer;
}

.footer__menup-holder {
	display: flex;
	column-gap: 10rem;
}

.footer__title {
	margin-bottom: 4rem;
}

.footer__list-link {
	font-size: 1.8rem;
	margin-bottom: 2rem;
}

.footer__list-link:last-child {
	margin-bottom: 0;
}

.footer__news-text {
	color: var(--black-color);
	max-width: 37rem;
	line-height: 1.5;
	margin-bottom: 3.2rem;
}

.footer__news-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.footer__news-form-input {
	width: 30rem;
	height: 5.4rem;
	font-size: 1.6rem;
	color: var(--gray-color);
	background-color: var(--secondary-color);
	border-radius: 0.5rem;
	border: none;
	outline: none;
	padding: 1rem;
	margin-bottom: 2.4rem;
}

.footer__news-form-input::placeholder {
	color: var(--gray-color);
}

.footer__news-form-button {
	color: var(--white-color);
	background-color: var(--primary-color);
}
