:root {
	/*? Colors */
	--primary-color: #0099ff;
	--secondary-color: #333333;
	--white-color: #ffffff;
	--gray-color: #999999;
	--black-color: #494949;
	/*! Fonts */
	--inter-bold: inter-bold;
	--inter-semi-bold: inter-bold;
	--inter-medium: inter-medium;
	--inter-regular: inter-regular;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: var(--inter-regular);
	min-height: 100vh;
	/* user-select: none; */
}

/* Heading */

h1 {
	font-family: var(--inter-bold);
	font-size: 5.6rem;
	line-height: 6.16rem;
}

h2 {
	font-family: var(--inter-bold);
	font-size: 4.8rem;
	line-height: 5.28rem;
}

h3 {
	font-family: var(--inter-bold);
	font-size: 4rem;
	line-height: 4.4rem;
}

h4 {
	font-family: var(--inter-bold);
	font-size: 3.2rem;
	line-height: 2.52rem;
}

h5 {
	font-family: var(--inter-bold);
	font-size: 2.4rem;
	line-height: 2.64rem;
}

h6 {
	font-family: var(--inter-bold);
	font-size: 2rem;
	line-height: 2.2rem;
}

/*! Initial Rules */

.btn {
	width: 20rem;
	height: 5.3rem;
	border: none;
	outline: none;
	text-decoration: none;
	border-radius: 0.5rem;
	font-family: var(--inter-regular);
	font-size: 1.8rem;
	cursor: pointer;
}

/* Global Rules Here */

.navigation_container {
	border-bottom: 1px solid var(--gray-color);
}

/*? Navigation */

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10rem;
}

.navigation__nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation__nav-list {
	list-style-type: none;
	margin-right: 4rem;
	font-family: var(--inter-medium);
	font-size: 1.8rem;
	transition: transform 100ms ease-in-out;
}

.navigation__nav-list:nth-of-type(4) {
	margin-right: 0;
}

.navigation__nav-list:hover {
	transform: scale(1.05);
	color: var(--primary-color);
}

.navigation__nav-link {
	text-decoration: none;
	color: var(--black-color);
}

.navigation__nav-link:hover {
	color: var(--primary-color);
}

.navigation__contact-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: var(--primary-color);
	color: var(--white-color);
	transition: transform 200ms ease-in-out;
}

.navigation__contact-btn:hover {
	transform: scale(1.05);
}

/* * Hamburger Menu */

.hamburger-menu {
	width: 3.6rem;
	height: 2.8rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	cursor: pointer;
}

.hamburger-dash {
	border-radius: 5rem;
	display: block;
	width: 100%;
	height: 0.4rem;
	background-color: #000000;
}

.hamburger-dash:nth-of-type(2) {
	width: 75%;
}

/* ! Header Introduction */

.header-intro {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4.5rem;
}

.header-intro__texts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.header-intro__header {
	max-width: 63rem;
	margin-bottom: 3.2rem;
}

.header-intro__paragraph {
	max-width: 58rem;
	font-family: var(--inter-regular);
	font-size: 1.8rem;
	color: var(--secondary-color);
	line-height: 2.8rem;
	margin-bottom: 4rem;
}

.header-intro__buttons-wrapper {
	display: flex;
}

.header-intro__buttons-wrapper-first-button {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: var(--white-color);
	background-color: var(--primary-color);
	border: 0.1rem solid var(--primary-color);
	margin-right: 1.6rem;
	box-shadow: inset 0 0 0 var(--white-color);
	transition: all 200ms ease-in-out;
}

.header-intro__buttons-wrapper-first-button:hover {
	box-shadow: inset 20rem 0 0 var(--white-color);
	color: var(--primary-color);
	transform: translateY(-0.5rem);
}

.header-intro__buttons-wrapper-second-button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-color);
	background-color: var(--white-color);
	border: 0.1rem solid var(--primary-color);
	box-shadow: inset 0 0 0 var(--white-color);
	transition: all 200ms ease-in-out;
}

.header-intro__buttons-wrapper-second-button:hover {
	box-shadow: inset 20rem 0 0 var(--primary-color);
	color: var(--white-color);
	transform: translateY(-0.5rem);
}

.header-intro__img-wrapper {
	width: 66rem;
}

.header-intro__img {
	width: 100%;
	height: 100%;
}
