@media (max-width: 1400px) {
	/* ? Services */
	.service-providers__cards-holder {
		justify-content: center;
		gap: 1.5rem;
	}

	/* ? Expert Team */
	.expert-team__card-holder {
		justify-content: center;
		column-gap: 1.5rem;
	}

	/* ! Portfolio */
	.portfolio-recent-works {
		justify-content: center;
		column-gap: 3rem;
	}

	/* ? Customer Testimonials */
	.customer-testimonials-tweets {
		justify-content: center;
		column-gap: 2.4rem;
	}
}

@media (max-width: 1200px) {
	/*? Navigation */
	.navigation__contact-btn {
		width: 18rem;
	}

	/* ! Header Introduction */
	.header-intro__img-wrapper {
		width: 60rem;
	}

	.header-intro__header {
		font-size: 4.5rem;
	}

	.header-intro__paragraph {
		font-size: 1.6rem;
		max-width: 45rem;
	}

	.header-intro__buttons-wrapper-first-button,
	.header-intro__buttons-wrapper-second-button {
		width: 18rem;
	}

	/* ? Services */
	.service-providers__texts-second-title {
		font-size: 4.5rem;
	}

	.service-providers__texts-sub-text {
		max-width: 55rem;
	}

	/* ! About us */
	.aboutus-section__img-wrapper {
		width: 60rem;
	}

	.aboutus-section__second-title {
		font-size: 4.5rem;
	}

	.aboutus-section__first-text,
	.aboutus-section__second-text {
		max-width: 62rem;
	}

	.aboutus-section__button {
		width: 18rem;
	}

	/* ? Expert Team */
	.expert-team__upper-texts-second-title {
		font-size: 4.5rem;
	}

	/* ! Portfolio */
	.portfolio__second-title {
		font-size: 4.5rem;
	}

	.portfolio__sub-text {
		max-width: 58rem;
		font-size: 1.6rem;
	}

	/* ? Customer Testimonials */
	.customer-testimonials__upper-texts {
		text-align: center;
	}

	.customer-testimonials__upper-texts-title {
		font-size: 4.5rem;
	}
}

@media (max-width: 992px) {
	/*? Navigation */
	.hamburger-menu {
		display: flex;
	}

	.navigation__nav-links {
		display: none;
	}

	.navigation__contact-btn {
		display: none;
	}

	/* ! Header Introduction */
	.header-intro {
		flex-direction: column-reverse;
	}

	.header-intro__texts {
		align-items: center;
	}

	.header-intro__img-wrapper {
		width: 55rem;
		margin-bottom: 5rem;
	}

	.header-intro__header {
		font-size: 4.2rem;
		max-width: 55rem;
		text-align: center;
	}

	.header-intro__paragraph {
		font-size: 1.5rem;
		max-width: 54rem;
		line-height: 2.2rem;
		text-align: center;
	}

	/* ? Services */
	.service-providers__texts-second-title {
		font-size: 4rem;
	}
	.service-providers__texts-sub-text {
		max-width: 50rem;
	}

	/* ! About us */
	.aboutus-section {
		flex-direction: column;
	}

	.aboutus-section__img-wrapper {
		width: 55rem;
		margin-bottom: 5rem;
	}

	.aboutus-section__texts {
		align-items: center;
		text-align: center;
	}

	.aboutus-section__second-title {
		font-size: 4rem;
	}

	.aboutus-section__first-text,
	.aboutus-section__second-text {
		max-width: 51rem;
		font-size: 1.5rem;
	}

	/* ? Expert Team */
	.expert-team__upper-texts-second-title {
		font-size: 4rem;
	}

	.expert-team__upper-texts-sub-par {
		max-width: 40rem;
		font-size: 1.5rem;
	}

	/* ! Portfolio */
	.portfolio__second-title {
		font-size: 4rem;
	}

	.portfolio__sub-text {
		max-width: 48rem;
		font-size: 1.5rem;
	}

	/* ? Customer Testimonials */
	.customer-testimonials__upper-texts-title {
		font-size: 4rem;
	}

	.customer-testimonials__upper-texts-subpar {
		font-size: 1.5rem;
	}
}

@media (max-width: 768px) {
	/* ! Header Introduction */
	.header-intro__img-wrapper {
		width: 50rem;
	}

	.header-intro__header {
		font-size: 4rem;
		max-width: 47rem;
	}

	.header-intro__paragraph {
		font-size: 1.4rem;
		max-width: 43rem;
	}

	/* ? Services */
	.service-providers__texts-second-title {
		font-size: 3.5rem;
	}
	.service-providers__texts-sub-text {
		font-size: 1.5rem;
		max-width: 44rem;
	}

	/* ! About us */
	.aboutus-section__img-wrapper {
		width: 50rem;
	}

	.aboutus-section__second-title {
		font-size: 3.8rem;
	}

	.aboutus-section__first-text,
	.aboutus-section__second-text {
		max-width: 45rem;
		font-size: 1.4rem;
	}

	/* ? Expert Team */
	.expert-team__upper-texts-second-title {
		font-size: 3.8rem;
	}

	.expert-team__upper-texts-sub-par {
		max-width: 36rem;
		font-size: 1.4rem;
	}

	/* ! Portfolio */
	.portfolio__second-title {
		font-size: 3.8rem;
	}

	.portfolio__sub-text {
		max-width: 40rem;
		font-size: 1.4rem;
	}

	/* ? Customer Testimonials */
	.customer-testimonials__upper-texts-title {
		font-size: 3.5rem;
	}

	.customer-testimonials__upper-texts-subpar {
		font-size: 1.4rem;
	}
}

@media (max-width: 576px) {
	/* ! Header Introduction */
	.header-intro__img-wrapper {
		width: 90%;
	}

	.header-intro__header {
		font-size: 3.5rem;
		max-width: 41rem;
	}

	.header-intro__paragraph {
		font-size: 1.2rem;
		max-width: 42rem;
	}

	.header-intro__buttons-wrapper-first-button,
	.header-intro__buttons-wrapper-second-button {
		width: 16rem;
		height: 4.8rem;
		font-size: 1.6rem;
	}

	/* ? Services */
	.service-providers__texts-second-title {
		font-size: 3rem;
	}
	.service-providers__texts-sub-text {
		font-size: 1.2rem;
		max-width: 30rem;
	}

	/* ! About us */
	.aboutus-section__img-wrapper {
		width: 100%;
	}

	.aboutus-section__second-title {
		font-size: 3rem;
	}

	.aboutus-section__first-text,
	.aboutus-section__second-text {
		max-width: 40rem;
		font-size: 1.2rem;
	}

	/* ? Expert Team */
	.expert-team__upper-texts-second-title {
		font-size: 3rem;
	}

	.expert-team__upper-texts-sub-par {
		max-width: 34rem;
		font-size: 1.4rem;
	}

	/* ! Portfolio */
	.portfolio__second-title {
		font-size: 3rem;
	}

	.portfolio__sub-text {
		max-width: 32rem;
		font-size: 1.2rem;
	}

	/* ? Customer Testimonials */
	.customer-testimonials__upper-texts-title {
		font-size: 3rem;
	}

	.customer-testimonials__upper-texts-subpar {
		font-size: 1.2rem;
	}
}
